/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    /* font-family: 'Poppins', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
:root{
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black: #222;
    --black2: #999;
    --darkblue: #003147;
    --info: #5bc0de;
    --ilricolor: #682622;
}

body{
    overflow-x: hidden;
    min-height: 100vh;
}

.maincontainer{
    position: relative;
    width: 100%;
}

.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active{
    width: 80px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered{
    /* background: #03a9f4; */
    background: #f5f5f5;
}

.navigation ul li:nth-child(1){
    margin-bottom: 20px;
    margin-top: 2px;
    font-size: 15px;
    pointer-events: none;
    text-transform: uppercase;
}

/* .navigation ul li:nth-child(1):hover{
    background: transparent;
} */

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--blue);
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon{
    font-size: 2.0em;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px #f5f5f5;
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px #f5f5f5;
    pointer-events: none;
}

.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #f5f5f5;
    transition: 0.5s;
}

.main.active{
    width: calc(100% - 80px);
    left: 80px;
}

.topbar{
    width: 100%;
    background: #fff;
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.toggle::before{
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: #111;
}

.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label{
    position: relative;
    width: 100%;
}

.search label input{
    width: 100%;
    height: 30px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 15px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon{
    position: absolute;
    left: 10px;
    top: 7px;
    font-size: 1.2em;
}

.user{
    position: relative;
    width: 100px;
    /* height: 40px; */
    /* border-radius: 50%; */
    overflow: hidden;
    cursor: pointer;
}

.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

.cardBox .card-num{
    position: relative;
    background: var(--white);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    /* cursor: pointer; */
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.cardBox .card-num .numbers{
    position: relative;
    font-size: 1.8em;
    font-weight: 500;
    color: rgba(153, 102, 255, 1);
}

.cardBox .card-num .cardName{
    color: rgba(255, 99, 132, 1);
    font-size: 1.1em;
    margin-top: 5px;
}

.cardBox .card-num .iconBox{
    font-size: 2.5em;
    color: rgba(255, 159, 64, 1);

}

.cardBox .card-num:hover{
    background: var(--blue);
}

.cardBox .card-num:hover .numbers,
.cardBox .card-num:hover .cardName,
.cardBox .card-num:hover .iconBox{
    color: var(--white);
}

.graphbox{
    position: relative;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    min-height: 200px;
}

.graphbox .box{
    position: relative;
    background: var(--white);
    padding: 10px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.details{
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: 0;
    /* display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr; */
}

.details .recentOrders{
    position: relative;
    display: grid;
    /* min-height: 530px; */
    background: #fff;
    padding: 20px;
}

.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2{
    font-weight: 600;
}

.btn-blue{
    position: relative;
    padding: 5px 10px;
    background: #03a9f4;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}

.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td{
    font-weight: 600;
}

.details .recentOrders table tr{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.details .recentOrders table tbody tr:last-child{
    border-bottom: none;
}

/* .details .recentOrders table tbody tr:hover{
    background: #03a9f4;
    color: #fff;
} */

.details .recentOrders table tr td{
    padding: 9px 5px;
}

.details .recentOrders table thead tr td:last-child,
.details .recentOrders table tbody tr td:last-child{
    text-align: right;
}

.details .recentOrders table thead tr td:nth-child(2),
.details .recentOrders table tbody tr td:nth-child(2){
    text-align: right;
    padding-right: 20px;
}

.details .recentOrders table thead tr td:nth-child(3),
.details .recentOrders table tbody tr td:nth-child(3){
    text-align: center;
}

.status{
    position: relative;
    padding: 2px 4px;
    background: #f00;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

.delivered{
    background: #8de02c;
}

.pending{
    background: #f9ca3f;
}

.return{
    background: #f00;
}

.inprogress{
    background: #1795ce;
}

.details .recentCustomers{
    position: relative;
    display: grid;
    min-height: 530px;
    background: #fff;
    padding: 20px;
}

.details .recentCustomers .imgBx{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.details .recentCustomers .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details .recentCustomers table tr:hover,
.details .recentCustomers table tr:hover td h4 span
{
    background: #03a9f4;
    color: #fff;
}

.details .recentCustomers table tr td{
    padding: 7px 10px;
}

.details .recentCustomers table tr td h4{
    font-style: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

.details .recentCustomers table tr td h4 span{
    font-style: 14px;
    color: #999;
}

.ilricolor{
    color: var(--ilricolor);
}

/* Responsiveness */
@media(max-width: 992px){
    .graphbox{
        grid-template-columns: 1fr;
        height: auto;
    }
    .navigation{
        left: -300px;
    }
    .navigation.active{
        left: 0;
        width: 300px;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        width: calc(100%-300px);
        left: 300px;
    }
    .cardBox{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width: 768px){
    .recentOrders{
        overflow-x: auto;
    }
    .details{
        grid-template-columns: repeat(1,1fr);
    }
    .cardHeader h4{
        font-weight: 600;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .cardBox{
        grid-template-columns: repeat(1,1fr);
    }
    .details .recentOrders{
        overflow-x: auto;
    }
    .details .recentOrders table{
        width: 600px;
    }
    .cardHeader h4{
        font-size: 20px;
    }
    .user{
        min-width: 40px;
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
    .toggle{
        z-index: 10001;
    }
    .main.active .toggle{
        color: var(--white);
        position: fixed;
        right: 0;
        left: initial;
    }
    /* .toggle.active{
        position: fixed;
        z-index: 10000;
        right: 0;
        left: initial;
    }
    .toggle.active::before{
        color: #fff;
    } */
    /* .main,
    .main.active{
        width: 100%;
        left: 0;
    } */
}