:root{
    --darkgreen: #2eca6a;
    --lightgreen: #54e68b;
    --yellowbg: #efca58;
    --ilricolor: #682622;
    --headings: #28221f;
    --btngreen: #5fc091;
    --menubg: #f6f5f5;
    --menucolor: #222221;
    --contentbg: #eae4d9;
    --ilritext: #61534c;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--ilritext);
}

a {
    color: #1977cc;
}

a:hover {
    color: var(--ilricolor);
    text-decoration: none;
}

.que-link {
    color: #1977cc !important;
    text-decoration: underline !important;
}

.que-link:hover {
    color: var(--ilricolor) !important;
    text-decoration: underline !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}
  
#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #2eca6a;
    border-top-color: #d1e6f9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}
  
@-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
@keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
}
  
.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: var(--darkgreen);
    color: #fff;
    transition: all 0.4s;
}
  
.back-to-top i:hover {
    background: var(--lightgreen);
    color: #fff;
}
  
.datepicker-dropdown {
    padding: 20px !important;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: var(--menubg);
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}
  
#header.header-scrolled {
    top: 0;
}
  
#header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
}
  
#header .logo a {
    color: var(--menucolor);
}
  
#header .logo img {
    max-height: 40px;
}
  
@media (max-width: 992px) {
    #header {
        top: 0;
    }
    #header .logo {
        font-size: 28px;
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.nav-menu > ul {
    display: flex;
}
  
.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 8px 0 8px 20px;
}
  
.nav-menu a {
    display: block;
    position: relative;
    color: var(--menucolor);
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding: 5px 2px;
    border-bottom: 2px solid var(--menubg);
}
  
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: var(--darkgreen);
    border-color: var(--darkgreen);
}
  
.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 20px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}
  
.nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
  
.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}
  
.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: var(--menucolor);
    border: none;
}
  
.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: var(--darkgreen);
}
  
.nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
}
  
.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}
  
.nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
}
  
.nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
}
  
.nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
}
  
@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
        left: -100%;
    }
    .nav-menu .drop-down .drop-down > a:after {
        content: "\ea9d";
    }
}
  
@media (max-width: 768px) {
    .appointment-btn {
        margin: 0 48px 0 0;
        padding: 6px 18px;
    }
}
  
/* Mobile Navigation */
.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}
  
.mobile-nav-toggle i {
    /* color: #2c4964; */
    color: var(--menucolor);
}
  
.mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    /* background: var(--dark); */
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
}
  
.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.mobile-nav a {
    display: block;
    position: relative;
    /* color: #2c4964; */
    color: var(--menucolor);
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
}
  
.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    /* color: #1977cc; */
    color: var(--darkgreen);
    text-decoration: none;
}
  
.mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}
  
.mobile-nav .active.drop-down > a:after {
    content: "\eaa1";
}
  
.mobile-nav .drop-down > a {
    padding-right: 35px;
}
  
.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}
  
.mobile-nav .drop-down li {
    padding-left: 20px;
}
  
.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(28, 47, 65, 0.6);
    /* background: var(--dark); */
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
}
  
.mobile-nav-active {
    overflow: hidden;
}
  
.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}
  
.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url("../img/kaspheader.jpg") top center;
    background-size: cover;
    position: relative;
    margin-bottom: -200px;
}
  
#hero .container {
    position: relative;
}
  
#hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    /* color: #2c4964; */
    color: var(--menubg);
}
  
#hero h2 {
    /* color: #2c4964; */
    color: var(--menubg);
    margin: 10px 0 0 0;
    font-size: 24px;
}
  
#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 35px;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
    background: var(--darkgreen);
    color: var(--menubg);
}
  
#hero .btn-get-started:hover {
    background: var(--ilricolor);
}
  
@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}
  
@media (max-width: 992px) {
    #hero {
        margin-bottom: 0;
        height: 100vh;
    }
    #hero .container {
        padding-bottom: 63px;
    }
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}
  
@media (max-height: 500px) {
    #hero {
        height: auto;
    }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}
  
.section-bg {
    background-color: var(--contentbg);
}
  
.section-title {
    text-align: center;
    padding-bottom: 30px;
}
  
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: var(--headings);
}
  
.section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: var(--headings);
    bottom: 1px;
    left: calc(50% - 60px);
}
  
.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--darkgreen);
    bottom: 0;
    left: calc(50% - 20px);
}
  
.section-title p {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 20px 0;
    /* background-color: #f1f7fd; */
    background-color: var(--yellowbg);
    min-height: 40px;
    margin-top: 120px;
}
  
@media (max-width: 992px) {
    .breadcrumbs {
        margin-top: 63px;
    }
}
  
.breadcrumbs h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
}
  
@media (max-width: 992px) {
    .breadcrumbs h2 {
        margin: 0 0 10px 0;
    }
}
  
.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}
  
.breadcrumbs ol li + li {
    padding-left: 10px;
}
  
.breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
}
  
@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }
    .breadcrumbs ol {
        display: block;
    }
    .breadcrumbs ol li {
        display: inline-block;
    }
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .content {
    padding: 30px;
    background: var(--ilricolor);
    border-radius: 4px;
    color: var(--menubg);
}
  
.why-us .content h4 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}
  
.why-us .content p {
    margin-bottom: 30px;
}
  
.why-us .icon-boxes .icon-box {
    text-align: center;
    border-radius: 10px;
    background: var(--yellowbg);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 100%;
}
  
.why-us .icon-boxes .icon-box i {
    font-size: 40px;
    /* color: #1977cc; */
    color: var(--headings);
    margin-bottom: 30px;
}
  
.why-us .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    color: var(--headings);
    margin: 0 0 30px 0;
}
  
.why-us .icon-boxes .icon-box p {
    font-size: 15px;
    color: var(--menucolor);
}

@-webkit-keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}
  
@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
    font-weight: 600;
    font-size: 26px;
    color: var(--headings);
}
    
.about .content p:last-child {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.ourservices {
    overflow: hidden;
}
  
.ourservices .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: var(--yellowbg);
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
}

.ourservices .icon-box::before {
    content: '';
    position: absolute;
    background: var(--btngreen);
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 0.3s;
    z-index: -1;
}

.ourservices .icon-box:hover::before {
    background: var(--darkgreen);
    top: 0;
    border-radius: 0px;
}

.ourservices .icon {
    margin-bottom: 15px;
}

.ourservices .icon i {
    font-size: 48px;
    line-height: 1;
    color: var(--ilricolor);
    transition: all 0.3s ease-in-out;
}

.ourservices .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    color: #111;
}

.ourservices .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

.ourservices .description a {
    color: var(--ilricolor);
}

.ourservices .icon-box:hover .title, .ourservices .icon-box:hover .description {
    color: var(--menubg);
}

.ourservices .icon-box:hover .icon i {
    color: var(--menubg);
}

.ourservices .icon-box:hover .description a {
    color: var(--menubg);
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
    padding: 0 100px;
}
  
.faq .faq-list ul {
    padding: 0;
    list-style: none;
}
  
.faq .faq-list li + li {
    margin-top: 15px;
}
  
.faq .faq-list li {
    padding: 20px;
    background: var(--menubg);
    border-radius: 4px;
    position: relative;
}
  
.faq .faq-list .questions {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    color: var(--headings);
}
  
.faq .faq-list .icon-help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: var(--headings);
}
  
.faq .faq-list .icon-show, .faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}
  
.faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}
  
.faq .faq-list .icon-show {
    display: none;
}
  
.faq .faq-list .collapsed {
    color: var(--headings);
}
  
.faq .faq-list .collapsed:hover {
    color: var(--ilricolor);
}
  
.faq .faq-list .collapsed .icon-show {
    display: inline-block;
}
  
.faq .faq-list .collapsed .icon-close {
    display: none;
}
  
@media (max-width: 1200px) {
    .faq .faq-list {
      padding: 0;
    }
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery .gallery-item {
    overflow: hidden;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}
  
.gallery .gallery-item img {
    transition: all ease-in-out 0.4s;
}
  
.gallery .gallery-item:hover img {
    transform: scale(1.1);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
    width: 100%;
    background: #fff;
}
  
.contact .info i {
    font-size: 20px;
    color: var(--menubg);
    float: left;
    width: 44px;
    height: 44px;
    background: var(--darkgreen);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
  
.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--headings);
}
  
.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: var(--ilritext);
}
  
.contact .info .email, .contact .info .phone {
    margin-top: 40px;
}
  
.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
    background: var(--ilricolor);
    color: var(--menubg);
}
  
.contact .php-email-form {
    width: 100%;
    background: #fff;
}
  
.contact .php-email-form .form-group {
    padding-bottom: 8px;
}
  
.contact input, .contact textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}
  
.contact input {
    height: 44px;
}
  
.contact textarea {
    padding: 10px 12px;
}
  
.contact button[type="submit"] {
    background: var(--darkgreen);
    border: 0;
    padding: 10px 35px;
    color: var(--menubg);
    transition: 0.4s;
    border-radius: 50px;
}
  
.contact button[type="submit"]:hover {
    background: var(--ilricolor);
}
  
@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  
@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    color: var(--ilritext);
    font-size: 14px;
    background: var(--menubg);
}
  
#footer .footer-top {
    padding: 60px 0 30px 0;
    background: var(--menubg);
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}
  
#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}
  
#footer .footer-top .footer-contact h3 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    color: var(--menucolor);
}
  
#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: var(--ilritext);
}
  
#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: var(--headings);
    position: relative;
    padding-bottom: 12px;
}
  
#footer .footer-top .footer-links {
    margin-bottom: 30px;
}
  
#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: var(--darkgreen);
    font-size: 18px;
    line-height: 1;
}
  
#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
  
#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}
  
#footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}
  
#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: var(--darkgreen);
}
  
#footer .footer-newsletter {
    font-size: 15px;
}
  
#footer .copyr {
    /* padding-top: 5px;
    font-size: 13px; */
    color: #eae4d9;
    background: var(--headings);
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.section-about .title-vertical {
    position: absolute;
    letter-spacing: 0;
    transform: rotate(-90deg);
    top: 10px;
    text-align: left;
    font-size: 1.8rem;
    width: 300px;
    font-weight: 700;
    text-align: right;
  }
  
  .about-img-box {
    padding-left: 1rem;
    position: relative;
  }
  
  @media (min-width: 576px) {
    .about-img-box {
      padding-left: 4rem;
    }
  }
  
  @media (min-width: 768px) {
    .about-img-box {
      padding-left: 5rem;
    }
  }
  
  .sinse-box {
    background-color: #2eca6a;
    padding: 1rem 2rem;
    position: absolute;
    left: 15px;
    bottom: 10px;
  }
  
  @media (min-width: 576px) {
    .sinse-box {
      padding: 1.5rem 2.5rem;
      bottom: 20px;
    }
  }
  
  @media (min-width: 768px) {
    .sinse-box {
      padding: 1.5rem 3rem;
    }
  }
  
  @media (min-width: 992px) {
    .sinse-box {
      padding: 3rem 4.5rem;
    }
  }
  
  .sinse-box .sinse-title {
    font-weight: 700;
    letter-spacing: 0.043em;
    font-size: 1rem;
  }
  
  @media (min-width: 576px) {
    .sinse-box .sinse-title {
      font-size: 1.3rem;
    }
  }
  
  @media (min-width: 768px) {
    .sinse-box .sinse-title {
      font-size: 1.8rem;
    }
  }
  
  @media (min-width: 992px) {
    .sinse-box .sinse-title {
      font-size: 2.2rem;
    }
  }
  
  .sinse-box .sinse-title span {
    position: absolute;
  }
  
  .sinse-box .sinse-title span:after {
    content: ' ';
    width: 35px;
    height: 2px;
    background-color: #000000;
    position: absolute;
    bottom: -15px;
  }
  
  .sinse-box p {
    margin-bottom: 0;
    font-size: .7rem;
  }
  
  @media (min-width: 576px) {
    .sinse-box p {
      font-size: .8rem;
    }
  }
  
  @media (min-width: 576px) {
    .sinse-box p {
      font-size: 1rem;
    }
  }

  .section-t8 {
    padding-top: 2rem;
  }
  
  @media (max-width: 767px) {
    .section-t8 {
      padding-top: 4rem;
    }
  }


  /*------/ Intro Single /------*/
.intro-single {
    padding: 7rem 0 1rem;
  }
  
  @media (max-width: 767px) {
    .intro-single {
      padding-top: 9rem;
    }
  }
  
  .intro-single .title-single-box {
    padding: 1rem 0 1rem 2rem;
  }
  
  .intro-single .title-single-box {
    border-left: 3px solid #2eca6a;
  }
  
  .intro-single .title-single-box .title-single {
    font-weight: 500;
    font-size: 0.8rem;
  }
  
  @media (min-width: 768px) {
    .intro-single .title-single-box .title-single {
      font-size: 0.7rem;
    }
  }
  
  @media (min-width: 992px) {
    .intro-single .title-single-box .title-single {
      font-size: 1.5rem;
    }
  }
  
  .intro-single .breadcrumb-box {
    padding: 1rem 0 0 .5rem;
  }
  
  .intro-single .breadcrumb {
    background-color: transparent;
    padding-right: 0;
    padding-left: 0;
  }

  #reqbutton .btn-get-started {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 20px;
    margin-top: 5px;
    transition: 0.5s;
    color: #fff;
    background: #2eca6a;
    border-radius: 50px;
}
  
#reqbutton .btn-get-started:hover {
    background: var(--ilricolor);
}

form .quad-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.attachment{
    color: var(--darkgreen);
}

.attachment:hover{
    color: var(--ilricolor);
}

.attachment-pdf{
    color: red;
}

.attachment-pdf:hover{
    color: var(--ilricolor);
}